<mat-card>
  <mat-card-content style="height: auto;">
    <mat-card-title>Détail annonce </mat-card-title>
    <br>
    <mat-card-subtitle style="margin-left: 50px">


      <mat-form-field style="margin-bottom: 10px;width: 40%;margin-top: 15px">
        <label style="color: black;
                font-size: 17px;
                font-style: initial;
                font-weight: bold;
                font-family: serif;">Catégorie : </label>
        <input style="
                text-align: end;
                font-weight: 500;
                font-family: serif;
                font-size: 18px;
                color: slategray;" matInput disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="category">

      </mat-form-field>
      <mat-checkbox style="margin-top: 58px;
      margin-left: 135px;
      position: absolute;color: black;
      font-size: 17px;
      font-style: initial;
      font-weight: bold;
      font-family: serif;" name="furnished" [(ngModel)]="furnished">Meublé</mat-checkbox>
      <img style="position: absolute;
              top: 35px;
              right: 75px;" src="assets/images/prix.png">
      <div style="    font-size: 26px;
position: absolute;
top: 103px;
font-weight: bold;
font-family: serif;
right: 143px;">{{prix}} Dt</div>

      <form class="example-form">

        <mat-form-field style="margin-bottom: 10px;width: 40%;margin-top: 15px">
          <label style="color: black;
                      font-size: 17px;
                      font-style: initial;
                      font-weight: bold;
                      font-family: serif;">Ville : </label>
          <input style="
                      text-align: end;
                      font-weight: 500;
                      font-family: serif;
                      font-size: 18px;
                      color: slategray;" matInput disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="city">
        </mat-form-field>
        <mat-form-field style="margin-bottom: 10px;width: 40%;margin-top: 15px;position: absolute;
            right: 35px;">
          <label style="color: black;
                        font-size: 17px;
                        font-style: initial;
                        font-weight: bold;
                        font-family: serif;">Région : </label>
          <input style="
                        text-align: end;
                        font-weight: 500;
                        font-family: serif;
                        font-size: 18px;
                        color: slategray;" matInput disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="region">
        </mat-form-field>
      </form>


      <mat-form-field class="example-full-width" style="width: 40%;">
        <label style="color: black;
          font-size: 17px;
          font-style: initial;
          font-weight: bold;
          font-family: serif;">Adresse : </label>
        <textarea [(ngModel)]="address" disabled matInput style="
        text-align: end;
        font-weight: 500;
        font-family: serif;
        font-size: 18px;
        color: slategray;height: auto;"></textarea>
      </mat-form-field>
      
      <mat-form-field style="margin-bottom: 10px;width: 40%;margin-top: 15px;position: absolute;
            right: 35px;">
        <label style="color: black;
                        font-size: 17px;
                        font-style: initial;
                        font-weight: bold;
                        font-family: serif;">Nombre du chambres : </label>
        <input style="
                        text-align: end;
                        font-weight: 500;
                        font-family: serif;
                        font-size: 18px;
                        color: slategray;width: inherit;" matInput disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="numberOfRooms"> piéce(s)
      </mat-form-field>

      <div>
        <mat-form-field class="example-full-width">
          <label style="color: black;
            font-size: 17px;
            font-style: initial;
            font-weight: bold;
            font-family: serif;">Description : </label>
          <textarea [(ngModel)]="description" disabled matInput style="
          text-align: end;
          font-weight: 500;
          font-family: serif;
          font-size: 18px;
          color: slategray;height: auto;"></textarea>
        </mat-form-field>
      </div>

      <div style="color: black;
      font-style: italic;
      font-size: 15px;
      font-weight: bold;
      font-family: serif;">Pour plus d'informations contacter :</div>
      <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 40%">
          <input style="
          font-weight: 500;
          font-family: serif;
          font-size: 18px;
          color: slategray;" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.empName" matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 40%;left: 40px;">
          <span style="font-weight: 500;
          font-family: serif;
          font-size: 18px;
          color: slategray;" matPrefix>+216 &nbsp;</span>
          <input style="font-weight: 500;
          font-family: serif;
          font-size: 18px;
          color: slategray;" disabled type="tel" matInput placeholder="" [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>

    </mat-card-subtitle>





  </mat-card-content>
</mat-card>