<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div >
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- column -->
          <div style="width: 40%;" *ngFor="let accommodation of annoncesList ">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{accommodation.country}}  {{accommodation.city}}</mat-card-title>
                <mat-card-subtitle>{{accommodation.city}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
              alt="home" style="height: 150px; width:  150px;margin-left: 35px;"
               (click)="detail(accommodation)"
               [routerLink]="['/progress', accommodation.id]"> 
              <div style="position: absolute;
              float: right;
              top: 236px;
              right: 15px;">
                Prix : {{accommodation.prix}} Dt
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>